<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Delta</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    {{!--
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"> --}}
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    {{!--
    <script src='main.js'></script> --}}
    <script src="alpine.js" defer></script>
</head>

<body>
    {{{body}}}
</body>

</html>