{{!-- <div class="container">
    <div class="columns">
        <div class="column col-6">

        </div>
        <div class="column col-6">


        </div>
    </div>
</div> --}}

<div class="container" x-data="{ tab: 'fileuploader' }">
    <div class="columns">
        <div class="column col-7 col-mx-auto">
            <ul class="tab tab-block">
                <li class="tab-item">
                    <a href="#fileuploader" :class="{ 'active': tab === 'fileuploader' }"
                        @click="tab = 'fileuploader'">File
                        Uploader</a>
                </li>
                <li class="tab-item">
                    <a href="#urlshortner" :class="{ 'active': tab === 'urlshortner' }" @click="tab = 'urlshortner'">URL
                        shortner</a>
                </li>
                {{!-- <li class="tab-item">
                    <a href="#pastebin">Pastebin</a>
                </li> --}}
            </ul>
            <div id="fileuploader" x-show="tab === 'fileuploader'">
                <div class="container mt-2">
                    <div class="columns">
                        <div class="column col-12">
                            <div class="card">
                                {{!-- <div class="card-image">
                                    <img src="#" class="img-responsive">
                                </div> --}}
                                <div class="card-header">
                                    <div class="card-title h5">
                                        <h3>Upload a file</h3>
                                    </div>
                                    {{!-- <div class="card-subtitle text-gray">Subtitle</div> --}}
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label" for="fileupload">Select a file</label>
                                        <input class="form-input" @change="upload($event)" type="file" id="fileupload"
                                            placeholder="Name">
                                    </div>
                                </div>
                                {{!-- <div class="card-footer">
                                    <button class="btn btn-primary">Footer</button>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="urlshortner" x-show="tab === 'urlshortner'">
                <div class="container mt-2">
                    <div class="columns">
                        <div class="column col-12">
                            <div class="card">
                                {{!-- <div class="card-image">
                                    <img src="#" class="img-responsive">
                                </div> --}}
                                <div class="card-header">
                                    <div class="card-title h5">
                                        <h3>Shorten URL</h3>
                                    </div>
                                    {{!-- <div class="card-subtitle text-gray">Subtitle</div> --}}
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label" for="shortenurl">Paste an URL</label>
                                        <input class="form-input" type="text" id="shortenurl" placeholder="URL">
                                    </div>
                                </div>
                                {{!-- <div class="card-footer">
                                    <button class="btn btn-primary">Footer</button>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pastebin">
                {{!-- placeholder --}}
            </div>
        </div>
    </div>
</div>


<div x-data="{ showmodal: false }">
    <div class="modal modal-sm" :class="{ 'active': showmodal }" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Modal title</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    content
                </div>
            </div>
            <div class="modal-footer">
                footer
            </div>
        </div>
    </div>
</div>